@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --nav: 56px;
  font-family: "Roboto", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  height: var(--nav);
}
.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
}
.icon-ham,
.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
.icon-ham:hover {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: lightgray;
}
.logo-img {
  justify-content: flex-end;
  width: 30px;
}
.logo-img i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  height: 20px;
}
.logo-name {
  gap: 1;
  position: relative;
}
.logo-name h1 {
  letter-spacing: -1px;
  font-weight: 550;
}
.logo-name p {
  color: gray;
  position: absolute;
  font-size: 10px;
  top: -4px;
  right: -16px;
}
.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.nav-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 536px;
}
.search-tap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 536px;
  border-radius: 40px 0px 0px 40px;
  border: 1px solid lightgray;
  padding-inline: 20px;
}
.search-tap input {
  border: none;
  font-size: 16px;
  color: black;
}
.search-tap input:focus {
  outline: none;
}

.icon-search {
  border-radius: 0px 40px 40px 0px;
  width: 65px;
  border: 1px solid lightgrey;
  height: 40px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-search i {
  color: gray;
}
.icon-search:hover {
  background-color: lightgrey;
}

.icon-record {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.icon-record i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 40px;
  height: 40px;
}
.icon-record i:hover {
  background-color: lightgrey;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.icon,
.icon-bell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav);
  width: 40px;
  height: 40px;
}
.icon-bell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav);
  width: 40px;
  height: 40px;
  position: relative;
}
.bell-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  top: 6px;
  right: 3px;
}
.bell-circle p {
  color: white;
  font-size: 10px;
}
.icon i,
.icon-bell i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-bell i:hover {
  background-color: lightgrey;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.icon i:hover {
  background-color: lightgrey;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.icon-user img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
/* ------main------ */
main {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
  max-height: calc(100vh - 56px);
}
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 240px;
  overflow: scroll;
  /* border: 1px dashed red; */
}
.side-box {
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}
.list-side {
  display: flex;
  align-items: center;
  width: 204px;
  height: 40px;
  padding: 0px 12px;
  border-radius: 10px;
  border: none;
}
.actived {
  background-color: #f2f2f2;
}
.list-side:hover {
  background-color: #f2f2f2;
}
.side-icon {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}
.side-text {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  height: 24px;
  font-size: 14px;
}
.side-bar-6 p {
  font-size: 14px;
}
.copyright {
  font-size: 14px;
  color: lightgray;
}
.content {
  padding: 12px 20px 0px 20px;
  flex-grow: 1;
}
.content-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  /* border: 1px dashed red; */
  gap: 10px;
  width: 1140px;
  overflow: scroll;
  padding-bottom: 10px;
}
.container-menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.bar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  background-color: #f2f2f2;
  border-radius: 8px;
  height: 30px;
  border: none;
}
.bar-btn:hover {
  background-color: lightgray;
}
.btn-actived {
  background-color: black;
  color: white;
}
.icon-menu-bar {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 30px;
}
/* card-content */
.main-content {
  max-height: calc(100vh - 96px);
  overflow: scroll;
}
.main-content-box1 {
  display: flex;
  justify-content: flex-start;
  min-width: 1140px;
  flex-wrap: wrap;
}
.card-content-1 {
  width: 33%;
  /* border: 1px dashed red; */
  margin-top: 24px;
  padding: 10px;
}
.card-content-1:hover {
  background-color: #f2f2f2;
  border-radius: 20px;
  border: none;
}
.card-img-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
}

.card-img-1 video {
  border-radius: 10px;
}
.card-title-1 {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  padding-top: 12px;
}
.card-title-1 .card-user-1 {
  width: 50px;
  padding-right: 20px;
}
.card-user-1 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card-text-1 p {
  color: gray;
  font-size: 14px;
}
.view-box {
  display: flex;
}
.view-box li {
  color: gray;
  padding-left: 8px;
  font-size: 14px;
}
.main-content-box2 {
  min-width: 1140px;
  /* border: 1px dashed red; */
  padding-bottom: 36px;
}
.main-box2-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 12px 20px 12px;
  /* border: 1px dashed red; */
}
.main-box2-logo {
  display: flex;
  gap: 10px;
}
.main-box2-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}
.main-box2-icon:hover {
  background-color: #f2f2f2;
}
.main-box2-content {
  display: flex;
  align-items: center;
  /* border: 1px dashed red; */
  width: 1140px;
  overflow: scroll;
}
.card-content-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 20%;
  height: 400px;
  border-radius: 12px;
  padding: 6px;
  /* border: 1px dashed red; */
}
.card-content-2:hover {
  background-color: #f2f2f2;
}
.card-text-2 {
  padding-top: 12px;
}
.card-view-2 p {
  color: gray;
  font-size: 14px;
}

.card-img-2,
.card-img-21,
.card-img-22,
.card-img-23,
.card-img-24,
.card-img-25 {
  border-radius: 10px;
  width: 210px;
  height: 340px;
  background-size: cover;
}
.card-img-2 {
  background-image: url(https://cdn.pixabay.com/photo/2023/05/22/14/21/einstein-8010824_640.jpg);
}
.card-img-21 {
  background-image: url(https://p16-va.lemon8cdn.com/tos-alisg-v-a3e477-sg/ea7118551de34148bc08694b3aeebbc8~tplv-tej9nj120t-origin.webp);
}
.card-img-22 {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b14367c0-d925-4d12-a46b-40d93292a0fd/debzx2i-406e3b98-3544-4c2e-bb2c-cca8cc73b67d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IxNDM2N2MwLWQ5MjUtNGQxMi1hNDZiLTQwZDkzMjkyYTBmZFwvZGViengyaS00MDZlM2I5OC0zNTQ0LTRjMmUtYmIyYy1jY2E4Y2M3M2I2N2QucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6O9dsXS3ALNpYlncTChez2Tr8HyDR7uX7nYx_4kotAs);
}
.card-img-23 {
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/albert-einstein-sticks-out-his-tongue-when-asked-by-news-photo-1681316749.jpg);
}
.card-img-24 {
  background-image: url(https://takii.com/wp-content/uploads/2016/02/Sunflower-Full-Sun-Improved.jpg);
}
.card-img-25 {
  background-image: url(https://i.redd.it/q3jad0s9o0t21.jpg);
}
.main-box2-showmore {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
  border-bottom: 1px solid #f2f2f2;
}
.showmore-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 120px;
  width: 358px;
  height: 34px;
  border: 1px solid #f2f2f2;
  background-color: white;
  border-radius: 40px;
  gap: 12px;
  position: absolute;
  top: 20px;
}
.showmore-box-2:hover {
  background-color: #f2f2f2;
}
